* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #c4c0c0;
}

body .container {
  width: 1200px;
  margin: auto;
}

body .d-flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .start {
  background-color: black;
  color: white;
  padding: 20px 0;
}

body .start .container .d-flex i {
  color: #ff2242;
  margin-right: 10px;
}

body .start .container .d-flex .title {
  text-transform: uppercase;
}

body .start .container .d-flex span {
  margin: 0 20px;
}

body .start .container .phone-number i {
  margin-right: 10px;
}

body .start .container .phone-number a {
  color: white;
  text-decoration: none;
}

body section.header {
  padding: 15px 0;
}

body section.header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.header .container .logo img {
  height: 55px;
}

body section.header .container .ad img {
  height: 90px;
}

body nav {
  background-color: #ff2242;
  color: white;
}

body nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .container .navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

body nav .container .navs li:last-child a {
  border: 0;
}

body nav .container .navs li:first-child a {
  padding-left: 0;
}

body nav .container .navs li a {
  padding: 0 20px;
  color: white;
  text-decoration: none;
  border-right: 1px solid white;
  font-size: 20px;
  text-transform: uppercase;
}

body nav .container .social-media {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 10px;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

body nav .container .social-media li:hover a {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

body nav .container .social-media li a {
  color: white;
  padding: 20px;
  display: block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

body nav .container .search {
  padding: 30px;
  border-right: 1px solid white;
}

body .container .cover {
  position: absolute;
  width: 800px;
  height: 660px;
  background-color: rgba(56, 64, 70, 0.7);
  margin: 20px 0px;
}

body .container .tr img {
  width: 800px;
  height: 700px;
  padding: 20px 0;
}

body .container .tr p {
  color: white;
  font-size: 20px;
  margin-top: -5%;
  position: absolute;
  left: 7%;
}

body .container .tr h2 {
  font-size: 40px;
  width: 650px;
  margin-top: -15%;
  color: white;
  padding: 5px 10px;
  position: absolute;
}

body .container .te {
  margin-left: 70%;
  margin-top: -57%;
}

body .container .te .coverr {
  position: absolute;
  width: 382px;
  height: 408px;
  background-color: rgba(56, 64, 70, 0.7);
  margin-top: -412px;
  border-radius: 5px;
}

body .container .te:hover p {
  color: #ff2242;
}

body .container .te p {
  color: white;
  margin-top: -10%;
  margin-left: 10px;
  width: 400px;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}

body .container .te .tetext {
  margin-top: -5%;
  position: absolute;
  color: #fffefe;
  font-size: 15px;
}

body .container .t1 {
  padding: 10px 0;
  margin-left: 70%;
  color: white;
}

body .container .t1 .c1 {
  position: absolute;
  width: 382px;
  height: 225px;
  background-color: rgba(56, 64, 70, 0.7);
  margin-top: -17%;
  border-radius: 5px;
}

body .container .t1 p {
  margin-top: -90px;
  padding: 0 10px;
  font-weight: bold;
  position: absolute;
  width: 400px;
  font-size: 20px;
}

body .container .t1 .t1text {
  margin-top: -30px;
}

body .container .row {
  border-radius: 10px;
}

body .container .vondermen {
  width: 63%;
  background-color: #fff;
  border-radius: 10px;
  height: 90vh;
}

body .container .whats-new-pg {
  padding: 30px 20px 20px 20px;
}

body .container .justifiy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .container .section-title {
  font-size: 25px;
  color: #051441;
  font-weight: bold;
}

body .container .navs-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
}

body .container .navs-2 li {
  padding-right: 10px;
  list-style: none;
}

body .container a {
  text-decoration: none;
  color: #051441;
  font-weight: bold;
}

body .container .life-text {
  padding: 10px;
}

body .container .col-12 {
  padding-left: 20px;
  margin: 0;
  margin-right: 100px;
}

body .container .k-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .row-text-on-img {
  padding-top: 10px;
  color: #051441;
  font-weight: bold;
  padding-right: 90px;
  font-size: 20px;
  margin-right: 250px;
}

body .container .row-text-on-img-2 {
  padding-top: 10px;
  color: #adadae;
}

body .container .row-text-on-img-3 {
  padding-top: 20px;
  color: #515151;
  padding-right: 70px;
  line-height: 30px;
  margin-right: 230px;
}

body .container .col-21 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 35%;
}

body .container .col-22 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 33%;
  top: 1210px;
  left: 35%;
}

body .container .col-23 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 33%;
  top: 1330px;
  left: 35%;
}

body .container .col-24 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 33%;
  top: 1450px;
  left: 35%;
}

body .container .fashion-text {
  font-size: 13px;
  color: #0077b5;
  position: absolute;
  left: 110%;
  bottom: 85%;
}

body .container .port-text {
  font-size: 17px;
  color: #515151;
  position: absolute;
  left: 110%;
  bottom: 35%;
  right: -230px;
}

body .container .none {
  color: red;
}

.icon-text-style {
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  left: 820px;
  bottom: 590px;
}

.icon-text-style .icon-exent {
  padding: 20px;
  font-size: 25px;
  border: 1px solid lightgray;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  left: 20px;
  top: 20px;
}

.icon-text-style .icon-exent .icon-esecv {
  border: 1px solid #0277b5;
  width: 30px;
  text-align: center;
  background-color: #0277b5;
  border-radius: 5px;
  position: relative;
  bottom: 10px;
  color: white;
}

.icon-text-style {
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
}

.icon-text-style .icon-exent-1 {
  padding: 20px;
  font-size: 25px;
  border: 1px solid lightgray;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  left: 20px;
  top: 40px;
}

.icon-text-style .icon-exent-1 .icon-esecv-1 {
  border: 1px solid #0277b5;
  width: 30px;
  text-align: center;
  background-color: #0277b5;
  border-radius: 5px;
  position: relative;
  bottom: 10px;
  color: white;
}

.icon-text-style {
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
}

.icon-text-style .icon-exent-2 {
  padding: 20px;
  font-size: 25px;
  border: 1px solid lightgray;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  left: 210px;
  bottom: 80px;
}

.icon-text-style .icon-exent-2 .icon-esecv-2 {
  border: 1px solid #0277b5;
  width: 30px;
  text-align: center;
  background-color: #0277b5;
  border-radius: 5px;
  position: relative;
  bottom: 10px;
  color: white;
}

.icon-text-style {
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
}

.icon-text-style .icon-exent-3 {
  padding: 20px;
  font-size: 25px;
  border: 1px solid lightgray;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  left: 210px;
  bottom: 60px;
}

.icon-text-style .icon-exent-3 .icon-esecv-3 {
  border: 1px solid red;
  width: 30px;
  text-align: center;
  background-color: red;
  border-radius: 5px;
  position: relative;
  bottom: 10px;
  color: white;
}

.everest {
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  left: 900px;
  bottom: 550px;
}

.everest .text-uki {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.zedins {
  padding: 10px;
}

.text-level {
  width: 300px;
  padding: 30px;
  position: relative;
  bottom: 110px;
  color: white;
  font-weight: bold;
}

.text-level:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.img-went-to {
  padding: 10px;
  position: relative;
  bottom: 120px;
}

.text-tmie {
  width: 300px;
  position: relative;
  left: 110px;
  bottom: 210px;
  font-weight: bold;
}

.text-tmie:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.img-time-1 {
  position: relative;
  bottom: 50px;
}

.photo-reclam {
  position: relative;
  bottom: 630px;
  left: 80px;
}

.desive {
  width: 900px;
  height: 350px;
  background-color: white;
  position: relative;
  bottom: 550px;
  left: 400px;
  border-radius: 10px;
}

.desive .popular {
  padding: 20px;
  font-weight: bold;
}

.desive .img-for-corucel {
  padding: 20px;
  position: relative;
  bottom: 10px;
}

.desive .img-for-corucel-1 {
  position: relative;
  left: 310px;
  bottom: 240px;
}

.desive .img-for-corucel-2 {
  position: relative;
  left: 600px;
  bottom: 451px;
}

.desive .text-new-our {
  width: 250px;
  position: relative;
  bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.desive .text-new-our:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.desive .text-new-our-1 {
  width: 250px;
  position: relative;
  left: 310px;
  bottom: 220px;
  text-align: center;
  font-weight: bold;
}

.desive .text-new-our-1:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.desive .text-new-our-2 {
  width: 250px;
  position: relative;
  left: 600px;
  bottom: 431px;
  text-align: center;
  font-weight: bold;
}

.desive .text-new-our-2:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.row-big-most {
  width: 1349px;
  height: 400px;
  background-color: white;
  position: relative;
  bottom: 500px;
}

.text-expert-won {
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  margin-left: 60px;
}

.img-vip-scrol {
  position: relative;
  left: 130px;
  top: 50px;
  width: 00px;
}

.img-vip-scrol-1 {
  position: relative;
  left: 280px;
  top: 50px;
}

.img-vip-scrol-2 {
  position: relative;
  left: 450px;
  top: 50px;
}

.rasm-imf {
  position: relative;
  left: 80px;
  width: 320px;
}

.rasm-imf-1 {
  position: relative;
  left: 200px;
  width: 320px;
}

.rasm-imf-2 {
  position: relative;
  left: 330px;
  width: 320px;
}

.whirssss {
  width: 300px;
  height: 180px;
  background-color: white;
  position: relative;
  bottom: 690px;
  border-radius: 20px;
}

.whirssss .text-whdsdsjk {
  width: 200px;
  text-align: center;
  position: relative;
  left: 50px;
  top: 20px;
  font-weight: bold;
}

.whirssss .text-whdsdsjk:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.whirssss i {
  font-size: 30px;
  position: relative;
  left: 250px;
  color: silver;
}

.whirssss i:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.whirssss-1 {
  width: 300px;
  height: 180px;
  background-color: white;
  position: relative;
  bottom: 865px;
  border-radius: 20px;
  left: 470px;
}

.whirssss-1 .text-whdsdsjk {
  width: 200px;
  text-align: center;
  position: relative;
  left: 50px;
  top: 20px;
  font-weight: bold;
}

.whirssss-1 .text-whdsdsjk:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.whirssss-1 i {
  font-size: 30px;
  position: relative;
  left: 250px;
  color: silver;
}

.whirssss-1 i:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.whirssss-2 {
  width: 300px;
  height: 180px;
  background-color: white;
  position: relative;
  bottom: 1040px;
  border-radius: 20px;
  left: 970px;
}

.whirssss-2 .text-whdsdsjk {
  width: 200px;
  text-align: center;
  position: relative;
  left: 50px;
  top: 20px;
  font-weight: bold;
}

.whirssss-2 .text-whdsdsjk:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.whirssss-2 i {
  font-size: 30px;
  position: relative;
  left: 250px;
  color: silver;
}

.whirssss-2 i:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.sdkcnjasdncx {
  width: 1350px;
  height: 400px;
  background-color: white;
  position: relative;
  bottom: 990px;
}

.sdkcnjasdncx .rasm-fon {
  position: relative;
  top: 70px;
  left: 30px;
}

.sdkcnjasdncx .rasm-fon-1 {
  position: relative;
  top: 70px;
  left: 80px;
}

.sdkcnjasdncx .rasm-fon-2 {
  position: relative;
  top: 70px;
  left: 130px;
}

.sdkcnjasdncx .rasm-fon-3 {
  position: relative;
  top: 70px;
  left: 190px;
}

.soz-soz {
  position: relative;
  bottom: 1100px;
  width: 200px;
  text-align: center;
  left: 50px;
  font-weight: bold;
}

.soz-soz:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.soz-soz-1 {
  position: relative;
  bottom: 1170px;
  width: 200px;
  text-align: center;
  left: 370px;
  font-weight: bold;
}

.soz-soz-1:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.soz-soz-2 {
  position: relative;
  bottom: 1240px;
  width: 200px;
  text-align: center;
  left: 690px;
  font-weight: bold;
}

.soz-soz-2:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.soz-soz-3 {
  position: relative;
  bottom: 1310px;
  width: 200px;
  text-align: center;
  left: 1020px;
  font-weight: bold;
}

.soz-soz-3:hover {
  color: red;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */